*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(42, 43, 44);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.calculadora{
    text-align: center;
    width: 300px;
    height: 450px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.resultado input{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    text-align: right;
    color: white;
}

.botoes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.linha{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
}
.botoes button{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.botoes button.numero{
    background-color: rgb(65, 65, 65);
    color: rgb(255, 255, 255);
}

.botoes button.operador{
    background-color: rgb(255, 166, 0);
    color: rgb(255, 255, 255);
}

.botoes button:hover{
    opacity: 0.5;
}